In [5]:
import pandas as pd

df = pd.read_csv("IPL.csv")

print(df)

           Venue                        team1                        team2  \
0      Bangalore  Royal Challengers Bangalore        Kolkata Knight Riders
1     Chandigarh              Kings XI Punjab          Chennai Super Kings
2          Delhi             Delhi Daredevils             Rajasthan Royals
3         Mumbai               Mumbai Indians  Royal Challengers Bangalore
4        Kolkata        Kolkata Knight Riders              Deccan Chargers
...          ...                          ...                          ...
1090   Hyderabad                 Punjab Kings          Sunrisers Hyderabad
1091   Ahmedabad          Sunrisers Hyderabad        Kolkata Knight Riders
1092   Ahmedabad  Royal Challengers Bengaluru             Rajasthan Royals
1093     Chennai          Sunrisers Hyderabad             Rajasthan Royals
1094     Chennai          Sunrisers Hyderabad        Kolkata Knight Riders

                      toss_winner toss_decision                       winner  \
0     Royal Challengers Bangalore         field        Kolkata Knight Riders
1             Chennai Super Kings           bat          Chennai Super Kings
2                Rajasthan Royals           bat             Delhi Daredevils
3                  Mumbai Indians           bat  Royal Challengers Bangalore
4                 Deccan Chargers           bat        Kolkata Knight Riders
...                           ...           ...                          ...
1090                 Punjab Kings           bat          Sunrisers Hyderabad
1091          Sunrisers Hyderabad           bat        Kolkata Knight Riders
1092             Rajasthan Royals         field             Rajasthan Royals
1093             Rajasthan Royals         field          Sunrisers Hyderabad
1094          Sunrisers Hyderabad           bat        Kolkata Knight Riders

      result_margin  target_runs
0             140.0        223.0
1              33.0        241.0
2               9.0        130.0
3               5.0        166.0
4               5.0        111.0
...             ...          ...
1090            4.0        215.0
1091            8.0        160.0
1092            4.0        173.0
1093           36.0        176.0
1094            8.0        114.0

[1095 rows x 8 columns]

In [6]:
print("Sample Rows :")
print(df.head())

print("Dataset Shape: ")
print(f'Rows : {df.shape[0]}, Columns: {df.shape[1]}')

print("Dataset Info :")
print(df.info())

print("Summary Analysis :")
print(df.describe(include="all"))

df = df.dropna()

print("Missing values:")
print(df.isnull().sum())

Sample Rows :
        Venue                        team1                        team2  \
0   Bangalore  Royal Challengers Bangalore        Kolkata Knight Riders
1  Chandigarh              Kings XI Punjab          Chennai Super Kings
2       Delhi             Delhi Daredevils             Rajasthan Royals
3      Mumbai               Mumbai Indians  Royal Challengers Bangalore
4     Kolkata        Kolkata Knight Riders              Deccan Chargers

                   toss_winner toss_decision                       winner  \
0  Royal Challengers Bangalore         field        Kolkata Knight Riders
1          Chennai Super Kings           bat          Chennai Super Kings
2             Rajasthan Royals           bat             Delhi Daredevils
3               Mumbai Indians           bat  Royal Challengers Bangalore
4              Deccan Chargers           bat        Kolkata Knight Riders

   result_margin  target_runs
0          140.0        223.0
1           33.0        241.0
2            9.0        130.0
3            5.0        166.0
4            5.0        111.0
Dataset Shape:
Rows : 1095, Columns: 8
Dataset Info :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Venue          1044 non-null   object
 1   team1          1095 non-null   object
 2   team2          1095 non-null   object
 3   toss_winner    1095 non-null   object
 4   toss_decision  1095 non-null   object
 5   winner         1090 non-null   object
 6   result_margin  1076 non-null   float64
 7   target_runs    1092 non-null   float64
dtypes: float64(2), object(6)
memory usage: 68.6+ KB
None
Summary Analysis :
         Venue                        team1           team2     toss_winner  \
count     1044                         1095            1095            1095
unique      36                           19              19              19
top     Mumbai  Royal Challengers Bangalore  Mumbai Indians  Mumbai Indians
freq       173                          135             138             143
mean       NaN                          NaN             NaN             NaN
std        NaN                          NaN             NaN             NaN
min        NaN                          NaN             NaN             NaN
25%        NaN                          NaN             NaN             NaN
50%        NaN                          NaN             NaN             NaN
75%        NaN                          NaN             NaN             NaN
max        NaN                          NaN             NaN             NaN

       toss_decision          winner  result_margin  target_runs
count           1095            1090    1076.000000  1092.000000
unique             2              19            NaN          NaN
top            field  Mumbai Indians            NaN          NaN
freq             704             144            NaN          NaN
mean             NaN             NaN      17.259294   165.684066
std              NaN             NaN      21.787444    33.427048
min              NaN             NaN       1.000000    43.000000
25%              NaN             NaN       6.000000   146.000000
50%              NaN             NaN       8.000000   166.000000
75%              NaN             NaN      20.000000   187.000000
max              NaN             NaN     146.000000   288.000000
Missing values:
Venue            0
team1            0
team2            0
toss_winner      0
toss_decision    0
winner           0
result_margin    0
target_runs      0
dtype: int64

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [8]:
df = pd.read_csv("IPL.csv")

features = ['Venue','team1','team2','toss_winner', 'toss_decision']

df = df[df['winner'].notna()]
df.fillna ('Unknown', inplace=True)

x = df[features]
y = df['winner']

encoder = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), features)
    ]
)

x_encoded = encoder.fit_transform(x)

x_train, x_test, y_train, y_test = train_test_split(
    x_encoded, y, test_size=0.2, random_state=42
)

model = RandomForestClassifier()
model.fit(x_train, y_train)

prediction = model.predict(x_test)


print("----- IPL Match Prediction-----")
try:
    teams = df['team1'].unique()
    Venue = df['Venue'].unique()
    toss = df['toss_decision'].unique()


    print("\nAvailable Teams:\n")

    for i, team in enumerate(teams):
        print(i, team)

    print("\n Available Venues:\n") 

    for i, venue in enumerate(Venue):
        print(i, venue)

    print("\n Toss Decision:\n")     

    for i, Toss in enumerate(toss):
        print(i, Toss)       

    team1 = teams[int(input("Select team1 number: "))]
    team2 = teams[int(input("Select team2 number: "))]
    Venue = Venue[int(input("Select Venue number: "))]
    toss_winner = teams[int(input("Select Toss Winning Team number: "))]
    toss_decision = toss[int(input("Select Toss decision (bat || field):"))]

    user_input_df = pd.DataFrame([{
        'Venue' : Venue,
        'team1' : team1,
        'team2'  : team2,
        'toss_winner' : toss_winner,
        'toss_decision' : toss_decision


    }])

    user_input_encoded = encoder.transform(user_input_df)

    prediction = model.predict(user_input_encoded)[0]

    print(f"\n So As Per My Model Predicted WINNER  : {prediction}")

except Exception as e:
    print("An error occured", e)

C:\Users\shiva\AppData\Local\Temp\ipykernel_34776\3403822729.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna ('Unknown', inplace=True)

----- IPL Match Prediction-----

Available Teams:

0 Royal Challengers Bangalore
1 Kings XI Punjab
2 Delhi Daredevils
3 Mumbai Indians
4 Kolkata Knight Riders
5 Rajasthan Royals
6 Deccan Chargers
7 Chennai Super Kings
8 Kochi Tuskers Kerala
9 Pune Warriors
10 Sunrisers Hyderabad
11 Gujarat Lions
12 Rising Pune Supergiants
13 Rising Pune Supergiant
14 Delhi Capitals
15 Punjab Kings
16 Lucknow Super Giants
17 Gujarat Titans
18 Royal Challengers Bengaluru

 Available Venues:

0 Bangalore
1 Chandigarh
2 Delhi
3 Mumbai
4 Kolkata
5 Jaipur
6 Hyderabad
7 Chennai
8 Cape Town
9 Port Elizabeth
10 Durban
11 Centurion
12 East London
13 Johannesburg
14 Kimberley
15 Bloemfontein
16 Ahmedabad
17 Cuttack
18 Nagpur
19 Dharamsala
20 Kochi
21 Indore
22 Visakhapatnam
23 Pune
24 Raipur
25 Ranchi
26 Abu Dhabi
27 Unknown
28 Rajkot
29 Kanpur
30 Bengaluru
31 Dubai
32 Sharjah
33 Navi Mumbai
34 Lucknow
35 Guwahati
36 Mohali

 Toss Decision:

0 field
1 bat
An error occured invalid literal for int() with base 10: ''